# encoding: utf-8
<% if @comentarios.any?%>
    <% @comentarios.each do |comentario| %>

        <p><%=comentario.corpo.html_safe%></p>
        <span class="caption text-muted" style="margin-bottom: 25px;">Por <%= comentario.usuario.name%></span>
        <hr>

    <%end%>
    <%= will_paginate @comentarios, renderer: BootstrapPagination::Rails %>
<%else%>
    <p style="margin-bottom: 30px;">Seja o primeiro a comentar!</p>
<%end%>
