<div id="new-comentario" aria-hidden="true" role="dialog" aria-labelledby="meuModal_nova" class="modal" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">&#215;</a>
            <h3 class="modal-title" id="meuModal_nova">Comentar</h3>
          </div>
            <%= form_for @comentario, :html => {:class => 'form-horizontal' } do |f| %>
              <div class="modal-body">
                <%= render :partial => 'form',:locals => { :f => f, :role => @role } %>
                </div>
            <% end %>

  <%# end %>
  </div>
  </div>
</div>
