<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2 class="section-heading"><%= @post.titulo%></h2>
        <p><%=@post.corpo.html_safe%></p>
      </div>
    </div>
    <%#= social_share_button_tag(@post.titulo) %>
  </div>
</article>