# encoding: utf-8
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>O BornIn91 é um blog livre de preconceitos, onde toda música boa terá seu devido valor, independentemente de estilo, época ou sucesso.</p>
        <br>
        <p>Falaremos de todas as músicas que gostamos, desde as mais conhecidas até aquelas que quase ninguém ouviu, desde as que todo mundo faz questão de dizer que gosta até aquelas que algumas pessoas gostam mas têm vergonha de adimitir.</p>
        <br>
        <p>É um blog que irá celebrar essa coisa tão incrível que é a música!</p>

      </div>
    </div>
  </div>
</article>